@{
    ViewData["Title"] = "Admin";
}

<main class="mt-5">
    <h2 class="mb-3">Administration</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="home" aria-selected="true">Users</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="products-tab" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab" aria-controls="profile" aria-selected="false">Products</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report" type="button" role="tab" aria-controls="contact" aria-selected="false" aria-disabled="true">Report</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
             <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      @for (int i = 0; i < ViewBag.users.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@ViewBag.users[i].UserName</td>
                                <td>@ViewBag.users[i].Email</td>
                                <td>@ViewBag.users[i].PhoneNumber</td>
                                <td>@ViewBag.users[i].Occupation</td>
                                <td>
                                    <button>Approve</button>
                                    <button>Reject</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in ViewBag.products)
                        { 
                            <tr>
                                <th scope="row">@product.Id</th>
                                <td><img src="/media/products/@product.Image" width="60"> </td>
                                <td>@product?.Name</td>
                                <td>@product?.Price</td>
                                <td>@product?.Category?.Name</td>
                                <td>@product?.Vendor</td>
                                <td>
                                    <button>Approve</button>
                                    <button>Reject</button>
                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">...</div>
    </div>
</main>