@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}



<main class="container my-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <!-- Product 1 -->
     @foreach(var item in Model)
    {
    <div class="col">
      <div class="card h-100">
        <img src="/media/products/@item.Image" class="card-img-top" alt="..."  style="object-fit: contain; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">@item.Name</h5>
          <p class="card-text" style="color: #565959">@Html.Raw(item.Description)</p>
           <p class="font-weight-bold">@item.Price.ToString("C2")</p>
          <a class="btn btn-warning btn-sm" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add to Cart</a>
        </div>
      </div>
    </div>
    }
  </div>
</main>


<div class="row">
    @* @foreach(var item in Model)
    {
        <div class="col-4">
            <img src="/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add to cart</a>
            </p>
        </div>
    } *@




@if(ViewBag.TotalPages > 1)
{
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/products/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber" 
                    page-range="@ViewBag.PageRange"></pagination>
        </div>

}

</div>
